<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<description></description>
		<display-name>TestCaseAServlet</display-name>
		<servlet-name>TestCaseAServlet</servlet-name>
		<servlet-class>perf.test.TestCaseAServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestCaseAServlet</servlet-name>
		<url-pattern>/testA</url-pattern>
	</servlet-mapping>

</web-app>
