<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<description></description>
		<display-name>TestCaseAServlet</display-name>
		<servlet-name>TestCaseAServlet</servlet-name>
		<servlet-class>perf.test.TestCaseAServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestCaseAServlet</servlet-name>
		<url-pattern>/testA</url-pattern>
	</servlet-mapping>

    <servlet>
   		<description></description>
   		<display-name>HelloServlet</display-name>
   		<servlet-name>HelloServlet</servlet-name>
   		<servlet-class>perf.test.HelloServlet</servlet-class>
   	</servlet>

   	<servlet-mapping>
   		<servlet-name>HelloServlet</servlet-name>
   		<url-pattern>/hello</url-pattern>
   	</servlet-mapping>

</web-app>
